@logoContainerSize: 50px;

.header {
  background: var(--base-background);

  &__logo-container {
    width: @logoContainerSize;
    height: @logoContainerSize;
  }

  &__title-container {

  }
}

.logo-container {
  &__logo {
    width: 100%;
    height: 100%;
  }
}

.title-container {
  &__text {
    color: var(--primary-text-color);
  }
}
