@logoContainerSize: 50px;

.header {
  background: var(--base-background);
  &__column{
    //width: calc(100vw - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__settings-container{
    padding: 14px;

    position: absolute;
    top: 0px;
    right: 0px;
  }
  &__logo-container {
    width: @logoContainerSize;
    height: @logoContainerSize;
  }

  &__title-container {

  }
}

.settings-container{
  &__img{
    width: 35px;
  }
}

.logo-container {
  &__logo {
    width: 100%;
    height: 100%;
  }
}

.title-container {
  &__text {
    color: var(--primary-text-color);
  }
}
