.question{
    &__wraper{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        font-size: 21px;
        background: #ffefb4;
        height: calc(100% - 90px);
    }
    &__btn-left{
        margin-bottom: 15px;
    }
    &__btn-right{}
    &__block{
        width: 80%;
    }    
    &__self{}
    &__ansvers-block{}
    &__answer{}
    &__inp-ansver{
        height: 20px;
    }
}

.flex-row{
    display: flex;
}
