.question{
    &__wraper{
        display: flex;
        justify-content: space-around;
        padding: 20px;
        font-size: 21px;
        background: #ffefb4;
        height: calc(100% - 90px);
    }
    &__btn-left{}
    &__btn-right{}
    &__block{}    
    &__self{}
    &__ansvers-block{}
    &__answer{}
}